<h1 class="section-header-main header-class"><a href="/casper/details/{{id}}">{{name}}</a></h1>
<div>
    <img width="300" height="300" src="{{photos.bigUrl}}"/>
    <p>Address: {{address}}</p>
    <p>{{stars}}</p>
    {{#if isPreferred}}<i class="icon icon-awardalt"></i>{{/if}}
</div>
